@if (Model["selected-client"] != null)
{
  <h3><em>@Model["selected-client"].Name</em></h3>
  <ul class="custom-list">
    <li>Client Name: @Model["selected-client"].Name</li>
    <li>Phone Number: @(String.Format("{0:(###) ###-####}", Double.Parse(@Model["selected-client"].Phone)))</li>
    <br>
    <li class="list-unstyled">(<a href="/stylists/@Model["selected-stylist"].Id/clients/@Model["selected-client"].Id/edit">EDIT</a>)</li>
  </ul>
  <br>
    <form action='/stylists/@Model["selected-stylist"].Id/clients/@Model["selected-client"].Id/delete' method="post">
    <button class="btn btn-danger" type="submit">Delete Client</button>
    </form>
}
