@{
  Layout = "_Layout";
}
<div class="well well-body">
  <h1>Add Client for @Model.Name</h1>
  <br>
  <form action="/stylists/@Model.Id/clients/new" method="post">
    <div class="form-group">
      <label class="custom-label" for="client-name">Name:</label>
      <input type="text" class="form-control" name="client-name" id="client-name" placeholder="Jane Doe" required autofocus>
    </div>
    <div class="form-group">
      <label class="custom-label" for="client-phone">Phone number:</label>
      <input type="number" class="form-control" name="client-phone" id="client-phone" required pattern=".{10}" placeholder="1234567890">
      @* @if(Model == "error")
      {
        <h4 class="text-danger"><em>Please enter only numbers!</em></h4>
      }
    </div> *@
    <button class="btn btn-info" type="submit">Submit</button>
  </form>
  <ul class="list-inline">
    <li><a href="/stylists/">Return to Stylist</a></li>
    <li><a href="/">Return to Home</a></li>
  </ul>
</div>
