@{
  Layout = "_Layout";
}
<div class="well well-body index-body">
  <p class="lead">To begin, add a stylist or you can choose to view the current stylists.</p>
  <br>
  <div class="row">
    <div class="col-md-6">
      <a class="index-link" href="/stylists/new">Add a Stylist</a>
    </div>
    <div class="col-md-6">
      <a class="index-link" href="/stylists">View Stylists</a>
    </div>
  </div>
</div>
