@{
  Layout = "_Layout";
}
<div class="well well-body">
  <h1>Add a Stylist</h1>
  <br>
  <form action="/stylists/new" method="post">
    <div class="form-group">
      <label class="custom-label" for="stylist-name">Enter a type of stylist:</label>
      <input type="text" class="form-control" name="stylist-name" id="stylist-name" placeholder="Jane Doe" required autofocus>
    </div>
    <div class="form-group">
      <label class="custom-label" for="stylist-phone">Enter phone number:</label>
      <input type="number" class="form-control" name="stylist-phone" id="stylist-phone" required pattern=".{10}" placeholder="1234567890">
      @* @if(Model == "error")
      {
        <h4 class="text-danger"><em>Please enter only numbers!</em></h4>
      } *@
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
  </form>

<br>
<br>
<a class="other-link" href="/">Return to Home</a>
</div>
