@{
  Layout = "_Layout";
}

<div class="well well-body">
  @* <form action="/stylists/clear" method="post">
    <button class="btn btn-danger pull-right" type="submit">Clear All Stylists</button>
  </form> *@
  <h1>Stylists</h1>
  @if (Model.Count == 0)
  {
    <div class="alert alert-warning">
      <h4><em>There are no stylists entered yet.</em></h4>
    </div>
  }
  else
  {
    <div class="alert alert-warning">
      <ul class="list-unstyled">
        @foreach(var stylist in Model)
        {
          <li class="custom-list"><a href="/stylists/@stylist.Id">@stylist.Name</a></li>
        }
      </ul>
    </div>
  }
  <br>
  <br>
  <ul class="list-inline">
    <li><a class="other-link" href="/stylists/new">Add a Stylist</a></li>
    <li><a class="other-link" href="/">Return to Home</a></li>
  </ul>
</div>
